.navigation {
  background-color: rgb(246, 246, 246);
  padding: 5px 0;
}

.navigation__header {
  margin: 5px 0;
  margin-left: 20px;
  background-color: rgb(246, 246, 246);
}

.navigation__list {
  list-style-type: none;
  text-align: right;
}

.navigation__listItem {
  display: inline-block;
  padding: 4px;
  margin: 5px 5px;
  color: #000;
  font-size: 16px;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  color: #000;
}

.navigation__listItem:hover {
  text-decoration: underline;
}
