.section {
  text-align: justify;
  padding-bottom: 40px;
}

.section__img {
  display: block;
  margin: auto;
  max-height: 150px;
  border: solid black 1px;
}

.section__header {
  text-align: center;
  text-shadow: 2px 3px 6px #636363;
  font-size: 24px;
}

.section__header--subHeader {
  font-weight: normal;
  text-decoration: underline;
}

.section__list {
  padding-left: 75px;
}

.section__list--markers {
  list-style-type: square;
}

.section__listItem {
  margin: 6px 0;
}
